<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive">

        <h1 class="title text-center">

            Look at Shrine

        </h1>

    </ion-header-bar>

    <ion-content  padding="true" class="padding-top text-center font-size-125">

        The two empty blocks show no signs of abuse.  Whatever monoliths they held were moved quite carefully.

        <div class="center padding-top">

            <button ng-click="closeModal()">Ok!</button>

        </div>

    </ion-content>

</ion-modal-view>