<div class="bar bar-subheader bar-calm">

    <span class="title font-size-150">

        <b>

            The Empty Shrine

        </b>

    </span>

</div>

<ion-content padding="true" class="padding-top text-center has-header has-footer font-size-125">

    <!-- If the game has just started, display welcome message -->
    <div ng-if="playerModel.containsId( eventConstants.STARTED, playerModel.events ) === false">

        <welcome></welcome>

    </div>

    <div ng-class="{'web-card-layout': platform !== 'android' && platform !== 'ios'}" class="padding">

        <!-- Shrine scenery -->
        <div class="card hover-card" ng-click="cardClicked( nounConstants.SHRINE.id )">

            <div class="item item-divider">

                The Shrine

            </div>

            <div class="item item-text-wrap">

                <div class="row">

                    <img class="center-elm" src="scenes/town/assets/shrine.png" alt="" style="height:10%;width:10%;" />

                </div>

                <div class="row text-center">

                    <div class="padding">

                        A large white multi columned structure stands next to an overlook.  Reliefs showing dieties
                        in various poses adorn the top of each column.  Two empty blocks stand in the center of
                        the shrine.

                    </div>

                </div>

            </div>

        </div>

        <!-- display text related to each character -->
        <div ng-repeat="character in characterService.data.characters" class="card  hover-card"
             ng-click="cardClicked( character.noun.id )">

            <div class="item item-divider">

                {{::character.title}}

            </div>

            <div class="item item-text-wrap">

                <div class="row">

                    <img class="center-elm" ng-src="{{::character.templateUrl}}" alt="" style="height:10%;width:10%;" />

                </div>

                <div class="row text-center">

                    <div class="padding">

                        {{::character.description}}

                    </div>

                </div>

            </div>

        </div>

    </div>

</ion-content>