<div class="bar bar-subheader bar-calm">

    <span class="title font-size-150">

        <b>

            The Empty Shrine

        </b>

    </span>

</div>

<ion-content padding="true" class="padding-top text-center has-header has-footer font-size-125">

    <!-- If the game has just started, display welcome message -->
    <div ng-if="playerModel.containsId( eventConstants.STARTED, playerModel.events ) === false">

        <welcome></welcome>

    </div>

    <div ng-class="{'web-card-layout': platform !== 'android' && platform !== 'ios'}" class="padding">

        <!-- Shrine scenery -->
        <div class="card hover-card" ng-click="cardClicked( nounConstants.SHRINE.id )">

            <div class="item item-divider">

                The Shrine

            </div>

            <div class="item item-text-wrap">

                A large white multi columned structure stands next to an overlook.  Reliefs showing dieties
                in various poses adorn the top of each column.  Two empty blocks stand in the center of
                the shrine.

            </div>

        </div>

        <!-- display text related to each character -->
        <span ng-if="shrineModel.characters.length > 0">

            <div ng-repeat="character in characters" class="card padding">

                <div class="item item-divider">

                    {{character.title}}

                </div>

                <div class="item item-text-wrap">

                    {{character.message}}

                </div>

            </div>

        </span>

    </div>

</ion-content>