<div class="bar bar-header bar-positive">

    <h1 class="title">The Empty Shrine</h1>

</div>

<ion-content padding="true" class="top-padding-1 text-center font-size-125">

    <!-- If the game has just started, display welcome message -->
    <div ng-if="playerModel.containsId( eventConstants.STARTED, playerModel.events ) === false">

        <welcome></welcome>

    </div>

    <!-- Shrine scenery -->

    <div class="card padding-1" ng-class="{'top-margin-12': platform === 'android'}">

        <div class="item item-divider">

            The Shrine

        </div>

        <div class="item item-text-wrap">

            A large white multi columned structure stands next to an overlook.  Reliefs showing dieties
            in various poses adorn the top of each column.  Two empty blocks stand in the center of
            the shrine.

        </div>

    </div>

    <!-- display text related to each character -->
    <span ng-if="shrineModel.characters.length > 0">

        <div ng-repeat="character in characters" class="card padding-1">

            <div class="item item-divider">

                {{character.title}}

            </div>

            <div class="item item-text-wrap">

                {{character.message}}

            </div>

        </div>

    </span>

</ion-content>