<script id="welcome.view.html" type="text/ng-template">

    <ion-modal-view>

        <ion-header-bar>

            <h1 class="title">

                The Adventure Begins!

            </h1>

        </ion-header-bar>

        <ion-content>

            You begin your adventure at the shrine.  You are a lone wanderer from a faraway land.  You left home seeking adventure and here you may have found it!

            <div class="center">

                <button ng-click="closeModal()">Start the Adventure!</button>

            </div>

        </ion-content>

    </ion-modal-view>

</script>