<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive">

        <h1 class="title text-center">

            The Adventure Begins!

        </h1>

    </ion-header-bar>

    <ion-content  padding="true" class="top-padding-1 text-center font-size-125">

        You begin your adventure at the shrine.  You are a lone wanderer from a faraway land.  You left home seeking adventure and here you may have found it!

        <div class="center top-padding-1">

            <button ng-click="closeModal()">Start the Adventure!</button>

        </div>

    </ion-content>

</ion-modal-view>