<div>The Empty Shrine</div>

<!-- If the game has just started, display welcome message -->
<div ng-if="playerModel.containsId( playerModel.events, eventConstants.STARTED ) === false">

    Welcome Message

</div>

<!-- Shrine scenery -->
<div>

    A large white multi columned structures stands next to an overlook.  Reliefs showing dieties
    in various poses adorn the top of each column.  Two empty blocks stand in the center of
    the shrine.

</div>

<!-- display text related to each character -->
<div ng-if="shrineModel.characters.length > 0">

    <div ng-repeat="character in characters">

        {{character.message}}

    </div>

</div>