/* Margin */
.top-margin-1 {

    margin-top: 1%;

}

.top-margin-12 {

    margin-top: 12%;

}

/* Fonts */
.font-size-125 {

    font-size: 125%;

}

.font-size-150 {

    font-size: 150%;

}

.font-size-200 {

    font-size: 200%;

}

/* Center */
.center-elm {

    margin-left: auto;
    margin-right: auto;

}

/* Cards */
.web-card-layout {

    width: 60%;
    margin-left: auto;
    margin-right: auto;

}


